.sheet-form {
    background-color: $background-color;
    min-width: 100px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-half-width {
    width: 50%;
}

button {
    margin: 0 1rem;
}