<form class="sheet-form" [formGroup]="sheetForm">
    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Sheet ID</mat-label>
        <input matInput type="text" name="sheetId" placeholder="https://docs.google.com/spreadsheets/d/{id}/ - Link or ID" formControlName="sheetId" value="" required>
    </mat-form-field>
    <mat-form-field class="field-half-width" appearance="outline">
        <mat-label>Sheet Name</mat-label>
        <input matInput type="text" name="sheetName" placeholder="Enter Name or Leave Empty" formControlName="sheetName" value="">
    </mat-form-field>
</form>

<div class="row-flex">
    <button mat-fab extended color="primary" (click)="addSheet()" [class.spinner]="saving" [disabled]="!sheetForm.valid || saving"><mat-icon>add</mat-icon> Add</button>
    <button mat-fab extended color="accent" (click)="addDemo()" [class.spinner]="saving" [disabled]="saving" *ngIf="!defaultSpreadsheet"><mat-icon>adjust</mat-icon> Demo</button>
    <button mat-fab extended color="warn" (click)="sheetForm.reset()"><mat-icon>refresh</mat-icon> Reset</button>
</div>
