<div class="app-base-input">
  <mat-form-field class="input-field" [class.input-field--with-clear]="showClear" appearance="outline" [class.has-error]="errorState">
    <mat-label *ngIf="label">
      {{ label }}
    </mat-label>

    <mat-icon *ngIf="icon && iconPosition === 'left'" matPrefix class="input-icon">
      {{ icon }}
    </mat-icon>

    <input 
      #inputElement
      matInput 
      [type]="type"
      [value]="value ?? ''"
      [disabled]="disabled"
      [required]="isRequired"
      [placeholder]="placeholder || ''"
      [attr.aria-invalid]="errorState"
      (input)="onValueChange(inputElement.value)"
      (blur)="onBlur()"
    />

    <mat-icon *ngIf="icon && iconPosition === 'right'" matSuffix class="input-icon">
      {{ icon }}
    </mat-icon>

    <app-base-field-button
      *ngIf="showClearButton"
      [fab]="true"
      fabStyle="mini"
      [icon]="'clear'"
      [iconColor]="'var(--error-500)'"
      matSuffix
      class="standard-button"
      color="accent"
      aria-label="Clear Field"
      (clicked)="onClear()">
    </app-base-field-button>

    <mat-hint *ngIf="hint && !hasError()">{{ hint }}</mat-hint>
    <mat-error *ngIf="hasError()">{{ error || getErrorMessage() }}</mat-error>
  </mat-form-field>
</div>
