<div class="app-base-input">
  <mat-form-field class="input-field" appearance="outline" [class.has-error]="error">
    <mat-label *ngIf="label">
      {{ label }}
    </mat-label>

    <mat-icon *ngIf="icon && iconPosition === 'left'" matPrefix class="input-icon">
      {{ icon }}
    </mat-icon>

    <input 
      #inputElement
      matInput 
      [type]="type"
      [value]="value"
      [disabled]="disabled"
      [required]="isRequired"
      [placeholder]="placeholder || ''"
      (input)="onValueChange(inputElement.value)"
      (blur)="onBlur()"
    />

    <mat-icon *ngIf="icon && iconPosition === 'right'" matSuffix class="input-icon">
      {{ icon }}
    </mat-icon>

    <mat-hint *ngIf="hint && !hasError()">{{ hint }}</mat-hint>
    <mat-error *ngIf="error">{{ error }}</mat-error>
    <mat-error *ngIf="!error && hasError('required')">This field is required</mat-error>
    <mat-error *ngIf="!error && hasError('email')">Please enter a valid email</mat-error>
    <mat-error *ngIf="!error && hasError('min')">Value is too low</mat-error>
  </mat-form-field>
</div>
