<form [formGroup]="addressForm">
    <mat-form-field class="field-halfish-width" appearance="outline">
        <mat-label>{{addressName}} Address</mat-label>
        <input type="text"
            name="addressInput"
            placeholder="Pick one or enter new"
            matInput
            formControlName="addressInput"
            [matAutocomplete]="autoAddress"
            (blur)="returnAddressEvent($event)"
            (selectionchange)="returnAddressEvent($event)"
            focus-scroll
            #addressInput />
        <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
            <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                <mat-option *ngFor="let address of filteredAddresses | async" [value]="address.address" class="mat-option">
                    {{ address.address | shortaddress:'':1 | truncate:35 }} ({{ address.visits }})
                </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-autocomplete>
        <button class="mat-icon-button" *ngIf="addressInput.value" color="primary" matSuffix mat-icon-button aria-label="Clear Address" (click)="addressForm.controls.addressInput.setValue('')">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <button class="button-right" color="primary" matSuffix mat-fab aria-label="Search Address" (click)="searchAddress()">
        <mat-icon>search</mat-icon>
    </button>
</form>