<div class="container full-height">
    <div class="row-flex">
        <h1 mat-dialog-title>
            {{title}}
        </h1>
    </div>

    <div class="row-flex" mat-dialog-content>
        <p>{{message}}</p>
    </div>

    <div class="row-flex" mat-dialog-actions>
        <button mat-stroked-button (click)="onDismiss()"><mat-icon *ngIf="falseIcon">{{falseIcon}}</mat-icon> {{falseText}}</button>
        <button mat-stroked-button color="primary" (click)="onConfirm()"><mat-icon *ngIf="trueIcon">{{trueIcon}}</mat-icon> {{trueText}}</button>
    </div>
</div>