.field-button-width {
    width: 80%;
}

.field-full-width {
    width: 100%;
}

.mat-icon-button {
    margin: 0;
}

.virtual-scroll-viewport {
    height: 200px; /* Set the height of the viewport */
    width: 100%; /* Full width */
    overflow: auto; /* Enable scrolling */
  }