<form [formGroup]="searchForm">
    <mat-form-field [ngClass]="showGoogle ? 'field-button-width' : 'field-full-width'" appearance="outline">
        <mat-label>{{fieldName}}</mat-label>
        <input 
            matInput
            type="text"
            [matAutocomplete]="autoInput"
            [value]="value"
            (input)="onInputChange($event)"
            (blur)="onBlur()"
            [required]="isRequired"
            focus-scroll
            #searchInput
         />
        <mat-autocomplete autoActiveFirstOption #autoInput="matAutocomplete">
            <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                <mat-option *ngFor="let item of filteredItems | async" [value]="item.name" (click)="onInputSelect(item.value)" class="mat-option" #matOption>
                    {{ item.name }} ({{ item.visits ?? 0 }})
                </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-autocomplete>
        <button class="mat-icon-button" *ngIf="value" color="primary" matSuffix mat-icon-button aria-label="Clear Field" (click)="onClear()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <button *ngIf="showGoogle" class="button-right" color="primary" matSuffix mat-fab aria-label="Search Address" (click)="searchAddress()">
        <mat-icon>search</mat-icon>
    </button>
</form>