<form [formGroup]="searchForm">
    <mat-form-field [ngClass]="false ? 'field-button-width' : 'field-full-width'" appearance="outline">
        <mat-label>{{fieldName}}</mat-label>
        <input 
            matInput
            type="text"
            [matAutocomplete]="autoInput"
            formControlName="searchInput"
            (input)="onInputChange($event)"
            (blur)="onBlur()"
            [required]="isRequired"
            focus-scroll
            #searchInput
        />
        <mat-autocomplete autoActiveFirstOption #autoInput="matAutocomplete">
            <cdk-virtual-scroll-viewport 
                [itemSize]="48" 
                [style.height.px]="getViewportHeight(filteredItems | async)" 
                class="virtual-scroll-viewport"
            >
            <mat-option 
                *cdkVirtualFor="let item of filteredItems | async" 
                [value]="item.name" 
                (click)="onInputSelect(item.value)"
                #matOption>
                {{ item.name }} {{ item.saved ? '(' + (item.trips ?? 0) + ')' : '' }}
            </mat-option>
            </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
        <button class="mat-icon-button" *ngIf="value && googleSearch && (filteredItems | async)?.length === 0" color="primary" matSuffix mat-icon-button aria-label="Search Google" (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <button class="mat-icon-button" *ngIf="value" color="accent" matSuffix mat-icon-button aria-label="Clear Field" (click)="onClear()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</form>