<div class="table-container">
    @if (link) {
        <h2>
            <span class="title-content">
                {{ title }} 
                <a href="https://docs.google.com/spreadsheets/d/{{link}}" target="_blank" class="link-icon">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </span>
        </h2>
    } @else {
        <h2>{{ title }}</h2>
    }
    
    @if (tripGroups && tripGroups.length > 0) {
        <div *ngFor="let tripGroup of tripGroups; let i = index" class="trip-group">
            <h3>
                <span class="trip-info">{{ tripGroup.date | date:'E, MMM d' }} ({{tripGroup.trips.length}})</span>
                <span class="amount-info">{{ tripGroup?.amount ?? 0 | currency }} / {{ tripGroup.average | currency }}</span>
            </h3>
            <div class='table-responsive-auto' #tableContainer>
                <mat-table [dataSource]="tripGroup.trips" class="table-theme-standard" style="table-layout:auto;">
                    <ng-container matColumnDef="service">
                        <mat-header-cell *matHeaderCellDef class="table-col-service"> Service </mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-service"> {{trip.service}}-{{ trip.number ? trip.number : 0}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="place">
                        <mat-header-cell *matHeaderCellDef class="table-col-place"> Place </mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-place"> {{trip.place | truncate:15}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="pickup">
                        <mat-header-cell *matHeaderCellDef class="table-col-pickup">Pickup</mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-pickup">
                          <span [ngClass]="{'time-24hr': prefers24Hour, 'time-12hr': !prefers24Hour}">
                            {{trip.pickupTime | date: prefers24Hour ? 'HH:mm' : 'h:mm a'}}
                          </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dropoff">
                        <mat-header-cell *matHeaderCellDef class="table-col-dropoff">Dropoff</mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-dropoff">
                          <span [ngClass]="{'time-24hr': prefers24Hour, 'time-12hr': !prefers24Hour}">
                            {{trip.dropoffTime | date: prefers24Hour ? 'HH:mm' : 'h:mm a'}}
                          </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef class="table-col-total"> Total </mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-total" [ngClass]="{'tip-none': (trip.tip + trip.cash) === 0, 'tip-good': (trip.tip + trip.cash) >= 5}"> {{trip.total | currency}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef class="table-col-name"> Name </mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-name"> {{trip.name | truncate:10}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef class="table-col-address"> Address </mat-header-cell>
                        <mat-cell *matCellDef="let trip" class="table-col-address"> {{trip.endAddress | truncate:75}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="row.exclude && {'background-color': 'lightgrey'}" [ngClass]="row.exclude && 'strike'"></mat-row>
                </mat-table>
                <div class="table-scroll-indicator" [class.visible]="isScrollable[i]">
                    ← scroll for more →
                </div>
            </div>
        </div>
    } @else {
        <div class="no-trips-message">
            <mat-icon class="no-trips-icon">info_outline</mat-icon>
            <h3>No trips to display</h3>
            <p>There are currently no trips available for the selected period.</p>
        </div>
    }
</div>
