<div class="container mx-auto p-4 max-w-4xl">
    <div class="flex flex-wrap gap-4 items-center justify-between">
        <h1 class="text-2xl font-bold text-blue-700 flex-1">Shifts</h1>
        <button *ngIf="!showAddForm" mat-mini-fab color="primary" class="add-button !w-9 !h-9" (click)="showAddForm = true" [disabled]="showAddForm">
            <mat-icon class="text-base">add</mat-icon>
        </button>
        <button *ngIf="showAddForm" mat-mini-fab color="warn" class="hide-button !w-9 !h-9" (click)="hideAddForm()">
            <mat-icon class="text-base">close</mat-icon>
        </button>
    </div>

    <div *ngIf="showAddForm || editId">
        <shift-form 
          [id]="editId"
          (parentReload)="handleParentReload()" 
          (editModeExit)="editId ? editId = null : hideAddForm()">
        </shift-form>
    </div>
    
    <!-- @if (unsavedShifts.length > 0) {
        <div class="row-grid">
            <button mat-fab extended class="button" color="accent" [class.spinner]="saving" [disabled]="saving" (click)="confirmSaveDialog()"><mat-icon>save</mat-icon> Save Changes to Spreadsheet</button>
        </div>
    } -->

    <div class="shifts-scrollable flex-1 overflow-y-auto space-y-4 pr-2 max-h-screen" (scroll)="onScroll($event)">
      @for (shift of shifts; track $index; let isFirst = $first) {
          <div
            [id]="shift.rowId"
            [ngClass]="{
              'mat-card': true,
              'mat-card-disabled': shift.action == actionEnum.Delete
            }"
            [class.mt-4]="isFirst"
          >
            <app-shifts-quick-view
              [shift]="shift"
              [index]="$index"
              (parentReload)="handleParentReload()"
            ></app-shifts-quick-view>
          </div>
        }
    </div>
</div>