:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-form {
    margin: 0px auto;
    width: 50%;
}

.example-form {
    background-color: white;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}
