:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-form {
    background-color: white;;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
