.filler {
    flex: 1 1 auto;
 }
 
 .gap {
    margin-right: 10px;
 }

a {
    color: white;
    text-decoration: none ;

    &:hover {
        text-decoration: underline;
    }
}

mat-icon {
    color: white;
}