.filler {
    flex: 1 1 auto;
}

.gap {
    margin-right: 1rem;
    margin-top: .5rem;
}

.end {
    margin-top: .5rem;
}

a {
    color: white;
    text-decoration: none;
    vertical-align: bottom;

    &:hover {
        text-decoration: underline;
    }
}

mat-icon {
    color: white;
    margin-right: .5rem;
}

mat-toolbar {
    margin-bottom: 1rem;
}