.demo-container {
  margin-top: 1.5rem;
}

.creating-demo-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;

  .mat-spinner {
    margin-bottom: 1rem;
  }

  .creating-demo-text {
    font-weight: 500;
    margin-top: 0;
  }
}
