<div class="mb-2 text-gray-700 dark:text-gray-300">
  Service Worker Status:
  <strong 
    [ngClass]="{
      'text-blue-700': serviceWorkerStatus === 'Active',
      'text-yellow-700': serviceWorkerStatus.includes('Update'),
      'text-red-700': serviceWorkerStatus != 'Active' && !serviceWorkerStatus.includes('Update')
    }"
    class="font-semibold"
  >
    {{ serviceWorkerStatus }}
  </strong>
</div>
<div class="flex flex-row items-center gap-4">
  <div class="flex-1">
    <button *ngIf="showInstallButton" mat-fab extended color="accent" (click)="installApp()" class="flex items-center gap-2">
      <mat-icon>get_app</mat-icon> Install App
    </button>
  </div>
  <div class="flex-1 flex justify-end gap-2">
    <button *ngIf="isUpdateAvailable" mat-fab extended color="primary" (click)="updateApp()" class="flex items-center gap-2">
      <mat-icon>update</mat-icon> Update App
    </button>
    <button *ngIf="!isUpdateAvailable" 
      mat-fab 
      extended 
      color="primary" 
      (click)="forceCacheUpdate()"
      [disabled]="!isOnline"
      [title]="!isOnline ? 'Cache reset requires internet connectivity' : 'Reset cached data'"
      class="flex items-center gap-2"
    >
      <mat-icon>refresh</mat-icon> Reset Cache
    </button>
  </div>
</div>
