<div class="service-worker-status">
  <p>
    Service Worker Status:
    <strong 
      [ngClass]="{
        'primary': serviceWorkerStatus === 'Active',
        'accent': serviceWorkerStatus.includes('Update'),
        'warn': serviceWorkerStatus != 'Active' && !serviceWorkerStatus.includes('Update')
      }">
      {{ serviceWorkerStatus }}
    </strong>
  </p>
  <div class="flex justify-between items-center">
    <div>
      <button *ngIf="showInstallButton" mat-fab extended color="accent" (click)="installApp()">
        <mat-icon>get_app</mat-icon> Install App
      </button>
    </div>
    <div>
      <button *ngIf="isUpdateAvailable" mat-fab extended color="primary" (click)="updateApp()">
        <mat-icon>update</mat-icon> Update App
      </button>
      <button *ngIf="!isUpdateAvailable" 
        mat-fab 
        extended 
        color="primary" 
        (click)="forceCacheUpdate()"
        [disabled]="!isOnline"
        [title]="!isOnline ? 'Cache reset requires internet connectivity' : 'Reset cached data'">
        <mat-icon>refresh</mat-icon> Reset Cache
      </button>
    </div>
  </div>
</div>
