<div class="mb-2">
  Service Worker Status:
  <strong
    [ngClass]="{
      'text-blue-700 dark:text-blue-400': serviceWorkerStatus === 'Active',
      'text-yellow-700 dark:text-yellow-400': serviceWorkerStatus.includes('Update'),
      'text-red-700 dark:text-red-400': serviceWorkerStatus != 'Active' && !serviceWorkerStatus.includes('Update')
    }"
    class="font-semibold text-gray-800 dark:text-gray-50"
  >
    {{ serviceWorkerStatus }}
  </strong>
</div>
<div class="flex flex-row items-center gap-4">
  <div class="flex-1">
    <app-base-rect-button *ngIf="showInstallButton" variant="secondary" [icon]="'get_app'" [fullWidth]="true" (clicked)="installApp()">
      Install App
    </app-base-rect-button>
  </div>
  <div class="flex-1 flex justify-end gap-2">
    <app-base-rect-button *ngIf="isUpdateAvailable" variant="primary" [icon]="'update'" (clicked)="updateApp()">
      Update App
    </app-base-rect-button>
    <app-base-rect-button *ngIf="!isUpdateAvailable" variant="primary" [icon]="'refresh'" [disabled]="!isOnline" [title]="!isOnline ? 'Cache reset requires internet connectivity' : 'Reset cached data'" (clicked)="forceCacheUpdate()">
      Reset Cache
    </app-base-rect-button>
  </div>
</div>
