.mock-location-card {
  margin-bottom: 1.5rem;
  background: var(--color-surface);
  color: var(--color-text-primary);

  mat-card-title {
    mat-icon {
      color: var(--primary-500);
    }
  }
}

mat-form-field {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    margin-top: 0.25rem;
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host-context(html.theme-dark) {
  .mock-location-card {
    background: var(--color-surface);
  }
  
  mat-form-field {
    ::ng-deep .mat-mdc-text-field-wrapper {
      background: var(--color-surface-2);
    }
  }
}
