@import "color-vars";

h3 {
    margin: 1rem 0 0 0;
}

.span-icon {
    vertical-align: sub;
}

.trips-container {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 1rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-bottom: .5rem;
}

mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
}

mat-row,
mat-header-row {
    display: table-row;
}

mat-row:nth-child(even){
    background-color: $primary-light-color;
}

mat-row:nth-child(odd){
    background-color: $tertiary-light-color;
}

mat-cell,
mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}   