<div class="trips-container">
    @if (link) {
        <h2>{{ title }} <a href="https://docs.google.com/spreadsheets/d/{{link}}" target="_blank"><span class="span-icon"><mat-icon>open_in_new</mat-icon></span></a></h2>
    }
    @else {
        <h2>{{ title }}</h2>
    }
    <div *ngFor="let tripGroup of tripGroups">
        <h3>{{ tripGroup.date | date:'E, MMM d' }} ({{tripGroup.trips.length}}) <span class="button-right">{{ tripGroup?.amount ?? 0 | currency }} / {{ tripGroup.average | currency }}</span></h3>
        <div class='table-responsive'>
            <mat-table [dataSource]="tripGroup.trips">
                <ng-container matColumnDef="service">
                    <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.service}}-{{ trip.number ? trip.number : 0}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="place">
                    <mat-header-cell *matHeaderCellDef> Place </mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.place | truncate:15}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pickup">
                    <mat-header-cell *matHeaderCellDef>Pickup</mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.pickupTime | noseconds}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dropoff">
                    <mat-header-cell *matHeaderCellDef>Dropoff</mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.dropoffTime | noseconds}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                    <mat-cell *matCellDef="let trip" [ngClass]="{'tip-none': (trip.tip + trip.cash) === 0, 'tip-good': (trip.tip + trip.cash) >= 5}"> {{trip.total | currency}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.name | truncate:10}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                    <mat-cell *matCellDef="let trip"> {{trip.endAddress | truncate:50}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="row.exclude && {'background-color': 'lightgrey'}" [ngClass]="row.exclude && 'strike'"></mat-row>
            </mat-table>
        </div>
    </div>
</div>