<div class="container">
    <div class="row-flex">
        <h1 mat-dialog-title>
            {{title}}
        </h1>
    </div>

    <app-google-address [(address)]="address"></app-google-address>

    <div class="row-flex">
        <app-base-button 
          variant="secondary"
          [icon]="falseIcon"
          (clicked)="onDismiss()">
          {{falseText}}
        </app-base-button>
        <app-base-button 
          variant="primary"
          [icon]="trueIcon"
          (clicked)="onConfirm()">
          {{trueText}}
        </app-base-button>
    </div>
</div>