<div class="container">
    <quick-form (parentReload)="load()"></quick-form>

    <div *ngFor="let trip of unsavedTrips">
        <trips-quick-view [trip]="trip"></trips-quick-view>
        <!-- <button mat-stroked-button color="primary" type="button" (click)="clear()"><mat-icon>edit</mat-icon> Edit</button> -->
        <div class="row row-block">
            <button class="button-right" mat-stroked-button color="warn" type="button" (click)="deleteUnsavedLocalTrip(trip)"><mat-icon>delete</mat-icon> Delete</button>
        </div>
    </div>
    <div class="row">
        <button mat-stroked-button color="primary" type="button" [class.spinner]="saving" [disabled]="saving" (click)="save()" *ngIf="unsavedTrips.length > 0"><mat-icon>save</mat-icon> Save All</button>
    </div>

    <div class="row" *ngIf="savedTrips.length > 0">
        <trips-table-simple class="table" title="Saved Local Trips" [trips]="savedTrips"></trips-table-simple>
        <div class="row row-block">
            <button class="button-right" mat-stroked-button color="warn" type="button" [class.spinner]="clearing" [disabled]="clearing"  (click)="clearSavedLocalData()"><mat-icon>delete</mat-icon> Clear</button>
        </div>
    </div>

    <div class="row">
        <trips-table-simple class="table" title="Spreadsheet Trips" [trips]="sheetTrips" *ngIf="sheetTrips.length > 0"></trips-table-simple>
        <button mat-stroked-button color="warn" type="button" [class.spinner]="reloading" [disabled]="reloading"  (click)="reload()"><mat-icon>refresh</mat-icon> Reload</button>
    </div>

</div>