:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

button {
    margin:0 auto;
}

.row-block {
    display: block;
}

.button-right {
    float: right;
}
