:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-form {
    margin: 0px auto;
    width: 50%;
}

.example-form {
    background-color: white;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.quarter-width {
    width: 25%;
    margin-right: 25px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

mat-row,
mat-header-row {
    display: table-row;
}

mat-cell,
mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}   