:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.container {
    max-width: 100%;
    min-width: 50%;
    padding: .5rem;
}

.button-row {
    display: table-cell;
    margin:0 auto;
}

button {
    margin:0 auto;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }
}
