:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.table {
    overflow-x: auto;
}

.button-bar {
    margin: 0;
    padding: 1rem .5rem;
}

button {
    background-color: white;
}

.mat-card {
    margin-bottom: 1rem;
}

.mat-card:nth-child(even){
    background-color: lightcyan;
}

.mat-card:nth-child(odd){
    background-color: lightyellow;
}