:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.table {
    overflow-x: auto;
}

.button-bar {
    margin: 0;
    padding: 1rem .5rem;
}

.mat-card {
    margin-bottom: 1rem;

    &:nth-child(even){
        background-color: lightcyan;
    }

    &:nth-child(odd){
        background-color: lightyellow;
    }
}

.mat-card-reverse {
    margin-bottom: 1rem;

    &:nth-child(even){
        background-color: lightyellow;
    }

    &:nth-child(odd){
        background-color: lightcyan;
    }
}

.mat-card-disabled {
    background-color: lightgray !important;
}

.row-grid {
    margin-bottom: 2rem;
}