:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.table {
    overflow-x: auto;
}
