:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.container {
    max-width: 100%;
    padding: 1rem;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }
}

.quick-form {
    background-color: white;
    min-width: 150px;
    max-width: 500px;
    width: 95%;
}

.field-full-width {
    width: 95%;
}

.field-halfish-width {
    width: 65%;
}

.field-quarter-width {
    width: 25%;
    margin-right: 1rem;
}

.trips-container {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 1rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

mat-row,
mat-header-row {
    display: table-row;
}

mat-row:nth-child(even){
    background-color: lightcyan;
}

mat-row:nth-child(odd){
    background-color: lightyellow;
}

mat-cell,
mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}   