<p></p>
<div class="div-form">
    <form class="example-form" [formGroup]="quickForm" (ngSubmit)="addTrip()">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Shift</mat-label>
            <mat-select #shiftSelect formControlName="shift" (selectionChange)='onShiftSelected(shiftSelect.value)'>
                <mat-option value="new">New</mat-option>
                <mat-option *ngFor="let shift of shifts" [value]="shift">{{ shift }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="isNewShift">
            <mat-form-field class="example-full-width">
                <mat-label>Service</mat-label>
                <mat-select #serviceSelect formControlName="service">
                    <mat-option *ngFor="let service of services" [value]="service.service">{{ service.service }} ({{ service.visits }})</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Place</mat-label>
            <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="place"
                [matAutocomplete]="autoPlace">
            <mat-autocomplete autoActiveFirstOption #autoPlace="matAutocomplete">
            <mat-option *ngFor="let place of filteredPlaces | async" [value]="place.place">
                {{place.place}} ({{ place.visits }})
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="quarter-width">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="10" formControlName="amount" value="">
        </mat-form-field>

        <mat-form-field class="half-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="name"
                [matAutocomplete]="autoName"
                (blur)="showNameAddresses($event)">
            <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete">
            <mat-option *ngFor="let name of filteredNames | async" [value]="name.name">
                {{ name.name }} (V: {{ name.visits }}, A: {{ name?.addresses?.length }})
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div *ngIf="selectedName">
            <p *ngFor="let address of selectedName.addresses">{{ address }}</p>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="address"
                [matAutocomplete]="autoAddress">
            <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
            <mat-option *ngFor="let address of filteredAddresses | async" [value]="address.address">
                {{address.short}} ({{ address.visits }})
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button type="submit" [disabled]="!quickForm.valid">Submit</button>
    </form>
</div>
