:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-link {
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.container {
    max-width: 100%;
    padding: .5rem;
}

.button-row {
    display: table-cell;
    margin:0 auto;
}

button {
    margin:0 auto;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }
}

.quick-form {
    background-color: white;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-halfish-width {
    width: 50%;
}

.field-quarter-width {
    width: 20%;
    margin-right: 1rem;
}
