$primary-color: #3f51b5;
$accent-color: #ff4081;
$warn-color: #f44336;

$primary-light-color: lightblue;
$accent-light-color: #FFEAE9;
$tertiary-light-color: moccasin;

$background-color: #f5f5f5;
$disabled-color: lightgray;
