.quick-controls-menu .mat-mdc-menu-content {
  padding: 0;
}

.quick-controls-menu__content {
  padding: 0;
}

.control-button.mat-mdc-icon-button {
  background: transparent !important;
  border-radius: 0.75rem !important;
}
