<div class="modal-container">
    <div class="terminal" #terminal>
        <div>
            <p class="info">00:00&nbsp;&nbsp;&nbsp;Please wait while your data is loaded.</p>
            <p class="info">00:00&nbsp;&nbsp;&nbsp;Modal will close when complete.</p>
        </div>
        <div>
            <p *ngFor="let message of divMessages">
                <span class="info">{{ message.time }}</span>
                &nbsp;
                <span [ngClass]="message.type">{{ message.text }}</span>
            </p>
        </div>
    </div>

    <!-- Button pinned at the bottom -->
    <div class="button-container">
        <button mat-fab extended color="accent" [disabled]="currentTime < 60 && enableAutoClose" (click)="cancelLoad()">{{ enableAutoClose ? "Cancel" : "Close" }}</button>
    </div>
</div>