@import "color-vars";

.trip-form {
    margin-bottom: 1rem;
    min-width: 100px;
    width: 100%;
}

.field-button {
    margin-right: .5rem;
}

.bold {
    font-weight: bold;
}

.button-icon {
    margin-top: .5rem;
}

.tab {
    margin-left: 1rem;

    .title {
        font-weight: bold;
        padding-bottom: .5rem;
    }

    .sub-tab { margin-left: .5rem;}
}

.tab-itallic {
    font-style: italic;
    margin-left: .5rem;
}

.highlight {
    color: $accent-color !important;
}

.mat-icon-button {
    margin: 0;
}

.margin-right {
    margin-right: 1rem;
}

cdk-virtual-scroll-viewport {
    height: 200px;
}

.selected-name-address {
    margin-bottom: 1.5rem;
}

// ::-webkit-scrollbar {
//     width: 10px;
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     background: transparent;
// }