<div class="modal-container">
    <div class="terminal" #terminal>
        <div>
            <p class="info">00:00&nbsp;&nbsp;&nbsp;Please wait while your data is {{ type === 'save' ? 'saved' : 'loaded' }}.</p>
            <p class="info">00:00&nbsp;&nbsp;&nbsp;Modal will close when complete.</p>
        </div>
        <div>
            <p *ngFor="let message of terminalMessages">
                <span class="info">{{ message.time }}</span>
                &nbsp;
                <span [ngClass]="message.type">{{ message.text }}</span>
            </p>
        </div>
    </div>    <!-- Button pinned at the bottom -->
    <div class="button-container button-bar">
        @if (syncState.canContinue) {
            <button mat-fab extended color="accent" class="button-left" (click)="continueLoad()">Continue</button>
            <button mat-fab extended color="primary" class="button-middle" (click)="retryLoad()">Retry</button>
        }
        <button mat-fab extended color="warn" class="button-right" [disabled]="currentTime < 60 && syncState.isAutoClose" (click)="cancelSync()">{{ syncState.isAutoClose ? "Cancel" : "Close" }}</button>
    </div>
</div>