<div class="modal-shell flex items-center justify-center max-w-full">
    <div class="modal-container rounded-lg shadow-lg w-full max-w-md p-6 flex flex-col bg-surface dark:bg-surface-3 overflow-x-hidden">
        <div class="sync-terminal bg-surface-2 dark:bg-surface-3 rounded-md p-4 mb-4 text-secondary font-mono text-sm overflow-y-auto h-80" #terminal>
            <div class="flex mb-1 items-start">
                <span class="text-success whitespace-nowrap w-10">00:00</span>
                <span class="ml-2 text-success flex-1 break-words">Please wait while your data is {{ syncStatusLabel }}.</span>
            </div>
            <div class="flex mb-1 items-start">
                <span class="text-success whitespace-nowrap w-10">00:00</span>
                <span class="ml-2 text-success flex-1 break-words">Modal will close when complete.</span>
            </div>
            <ng-container *ngFor="let message of terminalMessages()">
                <div class="flex mb-1 items-start">
                    <span class="text-success whitespace-nowrap w-10">{{ message.time }}</span>
                    <span [ngClass]="{
                        'text-success': message.type === 'info',
                        'text-warning': message.type === 'warning',
                        'text-error': message.type === 'error'
                    }" class="ml-2 flex-1 break-words">{{ message.text }}</span>
                </div>
            </ng-container>
        </div>
        <!-- Button pinned at the bottom -->
        <div class="flex gap-2 mt-auto items-center w-full">
            <div class="flex gap-2">
                @if (syncState().canContinue) {
                    <app-base-rect-button variant="secondary" (clicked)="continueLoad()" [label]="'Continue'"></app-base-rect-button>
                    <app-base-rect-button variant="primary" (clicked)="retryLoad()" [label]="'Retry'"></app-base-rect-button>
                }
            </div>
            <div class="ml-auto">
                 <app-base-rect-button variant="danger" [disabled]="currentTime() < 60 && syncState().isAutoClose" (clicked)="cancelSync()" [label]="syncState().isAutoClose ? 'Cancel' : 'Close'"></app-base-rect-button>
            </div>
        </div>
    </div>
</div>