@use 'color-vars' as *;

.modal-container {
    background: var(--color-surface);
    color: var(--color-text-primary);
}

button[disabled] {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
    background: var(--gray-400) !important;
    color: var(--gray-700) !important;
    
    &:hover {
        background: var(--gray-400) !important;
    }
}

:host-context(html.theme-dark) {
    .modal-container {
        background: var(--color-surface);
    }
    
    button[disabled] {
        background: var(--gray-600) !important;
        color: var(--gray-300) !important;
        
        &:hover {
            background: var(--gray-600) !important;
        }
    }
}

