<mat-card [ngClass]="trip.exclude ? 'strike' : ''">
    <div>
        <mat-card-header><h3>{{trip.date | date:'MMM d'}}, {{trip.pickupTime | noseconds}} {{trip.dropoffTime === "" ? '' : '- ' + (trip.dropoffTime | noseconds)}} ({{trip.service}} {{ trip.number == 0 ? "" : '#' + trip.number }})</h3></mat-card-header>
        <mat-card-content>
            <div *ngIf="trip.region">{{trip.region}}</div>
            <div><strong>{{trip.place | truncate:15}}{{trip.distance ? '('+trip.distance+')' : ''}}</strong> {{ trip.startAddress | shortaddress:trip.place | truncate:40}}</div>
            <div><strong>{{trip.name | truncate:15}}</strong> {{ trip.endAddress | shortaddress | truncate:25}}</div>
            <div><span class="padding-right" *ngIf="trip.endUnit"><strong>Unit #</strong> {{trip.endUnit}}</span> <span *ngIf="trip.orderNumber"><strong>Order #</strong> {{trip.orderNumber}}</span></div>
            <div>
                <span class="padding-right" *ngIf="trip.pay"><strong>Pay</strong> {{trip.pay | currency}}</span> 
                <span class="padding-right" *ngIf="trip.tip"><strong>Tip</strong> {{trip.tip | currency}}</span> 
                <span class="padding-right" *ngIf="trip.bonus"><strong>Bonus</strong> {{trip.bonus | currency}}</span> 
                <span class="padding-right" *ngIf="trip.cash"><strong>Cash</strong> {{trip.cash | currency}}</span>
                <span class="padding-right" *ngIf="trip.total > trip.pay"><strong>Total</strong> {{trip.total | currency}}</span>
            </div>
            <div *ngIf="trip.note">"{{trip.note}}"</div>
        </mat-card-content>
    </div>
</mat-card>
