@import "color-vars";

.close-button {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    z-index: 1000;
}

.mat-card {
    margin-bottom: 1rem;

    &:nth-child(even){
        background-color: $primary-light-color;
    }

    &:nth-child(odd){
        background-color: $tertiary-light-color;
    }
}

.mat-card-reverse {
    margin-bottom: 1rem;

    &:nth-child(even){
        background-color: $tertiary-light-color;
    }

    &:nth-child(odd){
        background-color: $primary-light-color;
    }
}

.mat-card-disabled {
    background-color: $disabled-color !important;
}

.mat-panel-header {
    padding-left: .5rem;
}

.mat-panel-title {
    margin-top: 1rem;
}