<div class="container">
    <p class="drop-cap"><span class="first-letter">R</span>aptor Gig is a powerful tool that enables you to seamlessly log and manage your gig work data by integrating it directly into your personal Google Spreadsheet. Effortlessly track your progress, organize your shifts, and gain valuable insights with ease.</p>
    <br/>
    <h1>Features</h1>
    <ul>
        <li>Organize your trips into structured groups for better tracking and management</li>
        <li>Seamlessly access and update your data directly from your Google Spreadsheet</li>
        <li>Gain valuable insights with detailed statistics and performance metrics</li>
        <li>Keep track of important notes and details from previous work</li>
        <li>Enable auto-save to ensure your progress is always up-to-date</li>
        <li>Sync your data across multiple devices using Google Sheets</li>
        <li>Enjoy a user-friendly interface designed for gig workers</li>
    </ul>
    <h1>Pages</h1>
        <p class="page">
            <mat-icon>home</mat-icon> - This page
        </p>
        <p class="page">
            <mat-icon>navigation</mat-icon> - Trips
        </p>
        <p class="page">
            <mat-icon>today</mat-icon> - Shifts
        </p>
        <p class="page">
            <mat-icon>poll</mat-icon> - Stats
        </p>
        <p class="page">
            <mat-icon>settings</mat-icon> - Settings
        </p>
    <h1>Instructions</h1>
    <ol>
        <li>Create a new Google spreadsheet</li>
        <li>Open <strong>File > Share > Share with others</strong></li>
        <li>Add <strong>srvsheets&#64;gig-sheets.iam.gserviceaccount.com</strong> as an <strong>editor</strong></li>
        <li>Go to setup page and add your spreadsheet id/link to the site</li>
        <li>Do not share your Google sheet ID with anyone!</li>
    </ol>
    <h1>Sheets</h1>
    <p>Structure</p>
    <ul>
        <li>Trips</li>
        <ul>
            <li>Shifts</li>
            <ul>
                <li>Daily</li>
                <ul>
                    <li>Weekdays</li>
                    <li>Weekly</li>
                    <li>Monthly</li>
                    <ul>
                        <li>Yearly</li>
                    </ul>
                </ul>
                <li>Regions</li>
                <li>Services</li>
            </ul>
            <li>Addresses</li>
            <li>Names</li>
            <li>Places</li>
            <li>Regions</li>
            <li>Services</li>
            <li>Types</li>
        </ul>
    </ul>
    <h1>Demo</h1>
    <p>
        Head to <a href="/setup">setup</a> page to try out the demo spreadsheet.
    </p>
    <p>
        View demo spreadsheet <a href="https://docs.google.com/spreadsheets/d/{{ demoSheetId }}/" target="_blank">here</a>.
    </p>
    <h1>FAQ</h1>
    <ul>
        <li>
            <h2>How often should I save?</h2>
            <p>Feel free to save whenever you'd like. You can save after each trip, shift, or simply at the end of the day. Alternatively, you can enable auto-save, which will automatically save your progress every minute.</p>
        </li>
        <li>
            <h2>Why does it take a while to manually save?</h2>
            <p>The save also runs multiple calculations and may slow down the saving process, as it waits for the calculations to complete.</p>
        </li>
        <li>
            <h2>Is my data safe?</h2>
            <p>Your data is stored in your browser and Google Sheets. Gig Logger does not store any of your data.</p>
        </li>
        <li>
            <h2>Can I sync accross multiple computers?</h2>
            <p>You can access your sheet data across multiple browsers, but local data is only available in the browser where it was saved. It's strongly recommended not to save to the same spreadsheet from multiple browsers simultaneously, as this may result in data being overwritten.</p>
        </li>
        <li>
            <h2>How do I delete my data?</h2>
            <p>On the setup page you can click delete all data to remove your local and remote data. Your spreadsheet data will remain untouched.</p>
        </li>
        <li>
            <h2>#REF - Array result was not expanded because it would overwrite data...</h2>
            <p>This error occurs in the header if data has been manually entered in the column below Row 1. The simplest way to resolve this is to delete all content in the column, leaving only the header.</p>
        </li>
        <li>
            <h2>#REF - Unresolved sheet name...</h2>
            <p>This error occurs in the header if a sheet it references has been deleted. Even if the referenced sheet is recreated, the link will remain broken. To fix this, you can refresh the header by clicking on it and pressing Enter to update it. Alternatively, if the sheet is protected with a lock symbol, you can delete it to regenerate the reference. However, be cautious, as this may break other sheets that depend on it.</p>
        </li>
        <li>
            <h2>My data in the spreadsheet is either missing or has been overwritten. What should I do?</h2>
            <p>If you notice that data has been removed or overwritten, you can review the version history in Google Sheets by going to File > Version history. This will allow you to restore previous versions of the sheet. You may need to manually re-enter any changes. Once you've restored the missing data, don't forget to click Update from Spreadsheet on the website to sync the changes.</p>
        </li>
        <!-- <li>
            <h2>I have an idea for a feature</h2>
            <p>Use the contact link below to send me a message on what your idea is.</p>
        </li>
        <li>
            <h2>I have an issue or bug</h2>
            <p>Contact me below to send me the issue you are having.</p>
        </li> -->
    </ul>
    <!-- <h1>Contact</h1> -->
</div>
