<div class="container">
    <h1>Description</h1>
        <p>Gig Logger is a tool to input gig work into your own google spreadsheet to track information.</p>
    <h1>Features</h1>
        <ul>
            <li>Quickly store trips in groups</li>
            <li>Data stored is easily accessible</li>
        </ul>
    <h1>Pages</h1>
        <p>
            <mat-icon>home</mat-icon> - This page
        </p>
        <p>
            <mat-icon>add</mat-icon> - Add trip
        </p>
        <p>
            <mat-icon>settings</mat-icon> - Settings
        </p>
    <h1>Instructions</h1>
    <ol>
        <li>Create a new google spreadsheet</li>
        <li>Open sharing options under <b>File > Share > Share with others</b></li>
        <li>Add <b>srvsheets@gig-sheets.iam.gserviceaccount.com</b> as an <b>editor</b></li>
        <li>Do not share your google sheeet ID with anyone12543</li>
    </ol>
    <h1>FAQ</h1>
    <ul>
        <li>Why don't I need an account?</li>
        <li>Is it free?</li>
        <li>How often should I save?</li>
        <li>Why does it take a while to save?</li>
        <li>Is my data safe?</li>
        <li>Can I sync accross multiple computers?</li>
        <li>How do I delete my data?</li>
        <li>I have an idea for a feature</li>
        <li>I have an issue or bug</li>
    </ul>
</div>
