<mat-form-field [class]="fieldClass" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input 
        matInput 
        [ngxMatTimepicker]="timePicker" 
        [value]="value"
        (ngModelChange)="onTimeChange($event)"
        [placeholder]="placeholder"
        [disabled]="disabled"
        readonly>
    <ngx-mat-timepicker #timePicker (timeSet)="onTimeChange($event)"></ngx-mat-timepicker>
    
    <div matSuffix class="time-actions">
        <app-base-button 
            *ngIf="!value"
            [fab]="true" 
            fabStyle="mini"
            type="button"
            (clicked)="setCurrentTime()"
            [disabled]="disabled"
            matTooltip="Set current time"
            class="current-time-btn">
            <mat-icon>access_time</mat-icon>
        </app-base-button>
        <app-base-button 
            *ngIf="value"
            [fab]="true" 
            fabStyle="mini"
            type="button"
            (clicked)="clearTime()"
            [disabled]="disabled"
            matTooltip="Clear time"
            class="clear-time-btn">
            <mat-icon>clear</mat-icon>
        </app-base-button>
    </div>
</mat-form-field>