<mat-form-field [class]="fieldClass" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input 
        matInput 
        [ngxMatTimepicker]="timePicker" 
        [value]="value"
        (ngModelChange)="onTimeChange($event)"
        [placeholder]="placeholder"
        [disabled]="disabled"
        readonly>
    <ngx-mat-timepicker #timePicker (timeSet)="onTimeChange($event)"></ngx-mat-timepicker>
    
    <div matSuffix class="time-actions">
        <app-base-field-button 
            *ngIf="!value"
            [fab]="true" 
            fabStyle="mini"
            type="button"
            [noBackground]="true"
            [icon]="'access_time'"
            [iconColor]="'var(--primary-500)'"
            (clicked)="setCurrentTime()"
            [disabled]="disabled"
            matTooltip="Set current time"
            class="current-time-btn">
        </app-base-field-button>
        <app-base-field-button 
            *ngIf="value"
            [fab]="true" 
            fabStyle="mini"
            type="button"
            [noBackground]="true"
            [icon]="'clear'"
            [iconColor]="'var(--error-500)'"
            (clicked)="clearTime()"
            [disabled]="disabled"
            matTooltip="Clear time"
            class="clear-time-btn">
        </app-base-field-button>
    </div>
</mat-form-field>