<button
  appBaseButton
  [appBaseButtonVariant]="variant"
  [appBaseButtonFab]="fab"
  [appBaseButtonFabStyle]="fabStyle"
  [appBaseButtonLoading]="loading"
  [appBaseButtonDisabled]="disabled"
  [appBaseButtonClass]="(noBackground ? 'btn-no-background' : '') + ' btn-' + size"
  (appBaseButtonClicked)="clicked.emit()"
  type="button"
  class="inline-flex items-center"
  [attr.title]="title"
  [attr.aria-label]="ariaLabel"
>
  <mat-icon *ngIf="icon" [ngStyle]="{ 'color': iconColor }">{{ icon }}</mat-icon>
  <ng-content></ng-content>
</button>
