/* Trips Quick View - Minimal SCSS (mostly using Tailwind classes) */

/* Trip Menu Styling - only for basic mat-menu-item spacing and icon alignment */
.trip-menu {
  .mat-menu-item {
    height: 40px;
    line-height: 40px;
    
    mat-icon {
      margin-right: 12px;
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}