.quick-form {
    background-color: white;
    min-width: 100px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-halfish-width {
    width: 70%;
}

.field-third-width {
    width: 45%;
    margin-right: 1rem;
}

.field-quarter-width {
    width: 28%;
    margin-right: 1rem;
}

.bold {
    font-weight: bold;
}

.button-icon {
    margin-top: .5rem;
}

.tab {
    margin-left: 1rem;

    .title {
        font-weight: bold;
        padding-bottom: .5rem;
    }

    .sub-tab { margin-left: .5rem;}
}

.tab-itallic {
    font-style: italic;
    margin-left: .5rem;
}

.highlight {
    background-color: lightgoldenrodyellow;
}

button {
    margin: 0 1rem;
}

.margin-right {
    margin-right: 1rem;
}

cdk-virtual-scroll-viewport {
    height: 200px;
}

.selected-name-address {
    margin-bottom: 1.5rem;
    margin-left: .5rem;
}

// ::-webkit-scrollbar {
//     width: 10px;
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     background: transparent;
// }