<h1>{{title}}</h1>

<!-- <div class="row field-halfish-width">
    <h1>{{ title }}</h1>
</div>
<div class="row field-quarter-width">
    <button class="button-right" type="button" matSuffix mat-icon-button aria-label="Clear" (click)="quickForm.controls.place.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
</div> -->

<form class="quick-form" [formGroup]="quickForm">
    <mat-form-field appearance="fill" class="field-full-width" appearance="outline">
        <mat-label>Shift/Batch/Group</mat-label>
        <mat-select #shiftSelect name="shift" formControlName="shift" [(value)]="selectedShift" [compareWith]="compareShifts" (selectionChange)='onShiftSelected(shiftSelect.value)'>
            <mat-option value="">New</mat-option>
            <mat-option *ngFor="let shift of shifts" [value]="shift">{{ shift.date | date:'E MMM d' }} - {{ shift.service }} {{ shift.number == 0 ? "" : '#' + shift.number }} ({{ shift.trips }} @ {{ shift.total | currency }})</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="isNewShift">
        <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Service</mat-label>
            <input type="text"
                name="service"
                placeholder="Pick one"
                aria-label="Service"
                matInput
                formControlName="service"
                [matAutocomplete]="autoService"
                #service>
            <mat-autocomplete autoActiveFirstOption #autoService="matAutocomplete">
                <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                    <mat-option *ngFor="let service of filteredServices | async" [value]="service.service" class="mat-option">
                        {{ service.service }} ({{ service.visits }})
                    </mat-option>
                <!-- </cdk-virtual-scroll-viewport> -->
            </mat-autocomplete>
            <button type="button" *ngIf="service.value" matSuffix mat-icon-button aria-label="Clear Service Dropdown" (click)="quickForm.controls.service.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Place</mat-label>
        <input type="text"
            name="place"
            placeholder="Pick one"
            matInput
            formControlName="place"
            [matAutocomplete]="autoPlace"
            (blur)="showPlaceAddressesEvent($event)"
            #place>
        <mat-autocomplete autoActiveFirstOption #autoPlace="matAutocomplete">
            <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                <mat-option *ngFor="let place of filteredPlaces | async" [value]="place.place"  (click)="showPlaceAddresses(place.place)" class="mat-option">
                    {{place.place}} ({{ place.visits }})
                </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-autocomplete>
        <button type="button" *ngIf="place.value" matSuffix mat-icon-button aria-label="Clear Place" (click)="quickForm.controls.place.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="field-third-width" appearance="outline">
        <mat-label>Pay</mat-label>
        <input matInput type="number" name="pay" placeholder="4.75" formControlName="pay" value="" #pay>
        <button type="button" *ngIf="pay.value" matSuffix mat-icon-button aria-label="Toggle Advanced Pay" (click)="toggleAdvancedPay()">
            <mat-icon>account_balance</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="field-third-width" appearance="outline">
        <mat-label>Distance</mat-label>
        <input matInput type="number" name="distance" placeholder="8.04" formControlName="distance" value="">
        <button type="button" matSuffix mat-icon-button aria-label="Toggle Odometer" (click)="toggleOdometer()">
            <mat-icon>drive_eta</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="showAdvancedPay">
        <mat-form-field class="field-quarter-width" appearance="outline">
            <mat-label>Tip</mat-label>
            <input matInput type="number" name="tip" placeholder="3.5" formControlName="tip" value="">
        </mat-form-field>
        <mat-form-field class="field-quarter-width" appearance="outline">
            <mat-label>Bonus</mat-label>
            <input matInput type="number" name="bonus" placeholder="2" formControlName="bonus" value="">
        </mat-form-field>
        <mat-form-field class="field-quarter-width" appearance="outline">
            <mat-label>Cash</mat-label>
            <input matInput type="number" name="cash" placeholder="5" formControlName="cash" value="">
        </mat-form-field>
    </div>

    <div *ngIf="showOdometer">
        <mat-form-field class="field-third-width" appearance="outline">
            <mat-label>Start Odometer</mat-label>
            <input matInput type="number" name="startOdometer" placeholder="10,000" formControlName="startOdometer" value="">
        </mat-form-field>
        <mat-form-field class="field-third-width" appearance="outline">
            <mat-label>End Odometer</mat-label>
            <input matInput type="number" name="endOdometer" placeholder="10,005" formControlName="endOdometer" value="">
        </mat-form-field>
    </div>

    <mat-form-field class="field-halfish-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text"
            name="name"
            placeholder="Pick one"
            aria-label="Name"
            matInput
            formControlName="name"
            [matAutocomplete]="autoName"
            (blur)="showNameAddressesEvent($event)" 
            #name>
        <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete">
            <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                <mat-option *ngFor="let name of filteredNames | async" [value]="name.name" (click)="showNameAddresses(name.name)" class="mat-option">
                    {{ name.name }} (V: {{ name.visits }}, A: {{ name?.addresses?.length ?? 0 }})
                </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-autocomplete>
        <button type="button" *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="quickForm.controls.name.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button type="button" matSuffix mat-icon-button aria-label="Show Pickup Address" (click)="togglePickupAddress()">
        <mat-icon>contact_mail</mat-icon>
    </button>

    <div *ngIf="showPickupAddress && placeAddresses && placeAddresses.length > 0" class="selected-name-address field-full-width">
        <a mat-button color="primary" class="address-link" (click)="selectPickupAddress(address)" *ngFor="let address of placeAddresses">{{ getShortAddress(address) }}</a>
    </div>

    <mat-form-field class="field-full-width" appearance="outline" *ngIf="showPickupAddress">
        <mat-label>Pickup Address</mat-label>
        <input type="text"
            name="startAddress"
            placeholder="Pick one"
            matInput
            formControlName="startAddress"
            [matAutocomplete]="autoAddress"
            (blur)="showAddressNamesEvent($event)"
            #address />
        <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
            <mat-option *ngFor="let address of filteredAddresses | async" [value]="address.address" (click)="showAddressNames(address.address)">
                {{ getShortAddress(address.address) }} ({{ address.visits }})
            </mat-option>
        </mat-autocomplete>
        <button type="button" *ngIf="address.value" matSuffix mat-icon-button aria-label="Clear Pickup Address" (click)="quickForm.controls.startAddress.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="selectedName" class="selected-name-address field-full-width">
        <a mat-button color="primary" class="address-link" (click)="selectDestinationAddress(address)" *ngFor="let address of selectedName?.addresses">{{ getShortAddress(address) }}</a>
    </div>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Destination Address</mat-label>
        <input type="text"
            name="endAddress"
            placeholder="Pick one"
            matInput
            formControlName="endAddress"
            [matAutocomplete]="autoAddress"
            (blur)="showAddressNamesEvent($event)"
            #address />
        <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
            <!-- <cdk-virtual-scroll-viewport itemSize="20"> -->
                <mat-option *ngFor="let address of filteredAddresses | async" [value]="address.address" (click)="showAddressNames(address.address)" class="mat-option">
                    {{ getShortAddress(address.address) }} ({{ address.visits }})
                </mat-option>
            <!-- </cdk-virtual-scroll-viewport> -->
        </mat-autocomplete>
        <button type="button" *ngIf="address.value" matSuffix mat-icon-button aria-label="Clear Destination Address" (click)="quickForm.controls.endAddress.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="selectedAddress" class="selected-name-address field-full-width">
        <p *ngFor="let name of selectedAddress.names">{{ name }}</p>
    </div>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Note</mat-label>
        <input matInput type="text" name="note" placeholder="" formControlName="note" value="">
    </mat-form-field>
    
</form>

<div class="row-flex" *ngIf="!data.id">
    <button mat-stroked-button type="button" (click)="addTrip()" [disabled]="!quickForm.valid"><mat-icon>add</mat-icon> Store</button>
    <button mat-stroked-button color="warn" type="button" (click)="formReset()"><mat-icon>refresh</mat-icon> Reset</button>
</div>
<div class="row-flex" *ngIf="data.id">
    <button mat-stroked-button type="button" (click)="editTrip()" [disabled]="!quickForm.valid"><mat-icon>add</mat-icon> Update</button>
    <button mat-stroked-button color="warn" type="button" mat-dialog-close><mat-icon>cancel</mat-icon> Cancel</button>
</div>