
.quick-form {
    background-color: white;
    min-width: 100px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-halfish-width {
    width: 70%;
}

.field-third-width {
    width: 40%;
    margin-right: 1rem;
}

.field-quarter-width {
    width: 25%;
    margin-right: 1rem;
}

button {
    margin: 0 1rem;
}

cdk-virtual-scroll-viewport {
    height: 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}