
.quick-form {
    background-color: white;
    min-width: 100px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-halfish-width {
    width: 50%;
}

.field-quarter-width {
    width: 20%;
    margin-right: 1rem;
}

button {
    margin: 0 1rem;
}