<form class="quick-form" [formGroup]="quickForm">
    <mat-form-field appearance="fill" class="field-full-width" appearance="outline">
        <mat-label>Shift/Batch</mat-label>
        <mat-select #shiftSelect name="shift" formControlName="shift" (selectionChange)='onShiftSelected(shiftSelect.value)' required>
            <mat-option value="new">New</mat-option>
            <mat-option *ngFor="let shift of shifts.reverse()" [value]="shift">{{ shift.date | date:'E MMM d' }} - {{ shift.service }} {{ shift.shiftNumber == 0 ? "" : '#' + shift.shiftNumber }} ({{ shift.trips }} Trips - {{ shift.total | currency }})</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="isNewShift">
        <mat-form-field class="field-full-width" appearance="outline">
            <mat-label>Service</mat-label>
            <input type="text"
                name="service"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                formControlName="service"
                [matAutocomplete]="autoService">
            <mat-autocomplete autoActiveFirstOption #autoService="matAutocomplete">
                <mat-option *ngFor="let service of filteredServices | async" [value]="service.service">
                    {{ service.service }} ({{ service.visits }})
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Place</mat-label>
        <input type="text"
            name="place"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="place"
            [matAutocomplete]="autoPlace"
            required>
        <mat-autocomplete autoActiveFirstOption #autoPlace="matAutocomplete">
            <mat-option *ngFor="let place of filteredPlaces | async" [value]="place.place">
                {{place.place}} ({{ place.visits }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="field-quarter-width" appearance="outline">
        <mat-label>Pay</mat-label>
        <input matInput type="number" name="amount" placeholder="4.75" formControlName="amount" value="">
    </mat-form-field>

    <mat-form-field class="field-quarter-width" appearance="outline">
        <mat-label>Distance</mat-label>
        <input matInput type="number" name="distance" placeholder="8.04" formControlName="distance" value="">
    </mat-form-field>

    <mat-form-field class="field-halfish-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text"
            name="name"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="name"
            [matAutocomplete]="autoName"
            (blur)="showNameAddressesEvent($event)" >
        <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete">
            <mat-option *ngFor="let name of filteredNames | async" [value]="name.name" (click)="showNameAddresses(name.name)">
                {{ name.name }} (V: {{ name.visits }}, A: {{ name?.addresses?.length ?? 0 }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div *ngFor="let address of selectedName?.addresses">
        <a mat-button color="primary" class="address-link" (click)="selectAddress(address)">{{ getShortAddress(address) }}</a>
    </div>

    <mat-form-field class="field-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input type="text"
            name="address"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="address"
            [matAutocomplete]="autoAddress"
            (blur)="showAddressNamesEvent($event)" >
        <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
            <mat-option *ngFor="let address of filteredAddresses | async" [value]="address.address" (click)="showAddressNames(address.address)">
                {{ getShortAddress(address.address) }} ({{ address.visits }})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="selectedAddress">
        <p *ngFor="let name of selectedAddress.names">{{ name }}</p>
    </div>

    <div class="row">
        <div mat-dialog-actions align="center">
            <button mat-stroked-button type="button" (click)="addTrip()" [disabled]="!quickForm.valid"><mat-icon>add</mat-icon> Add</button>
            <button mat-stroked-button color="warn" type="button" (click)="formReset()"><mat-icon>refresh</mat-icon> Reset</button>
        </div>
    </div>
    
</form>