
.quick-form {
    background-color: white;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.field-halfish-width {
    width: 50%;
}

.field-quarter-width {
    width: 20%;
    margin-right: 1rem;
}
