/* You can add global styles to this file, and also import other style files */
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import "~material-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons{
    font-family: 'Material Icons' !important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.container {
  max-width: 100%;
  min-width: 50%;
  padding: .5rem;
  margin:0 auto;
}

@media (min-width: 768px) {
  .container {
      margin: 0 auto;
      max-width: 768px;
  }
}

.row-grid {
  display: inline-grid;
  margin: .5rem auto;
  width: 100%;
}

.row-block {
  display: inline-block;
  margin: .5rem auto;
}

.row-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

.button {
    margin: 0 auto;
}

.button-left {
  align-self: flex-start;
  float: left;
}

.button-right {
  align-self: flex-end;
  float: right;
}


.custom-modalbox {
  .mat-mdc-dialog-container .mdc-dialog__surface  {
      padding: 1rem;
  }
}