/* You can add global styles to this file, and also import other style files */
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import "~material-icons/iconfont/material-icons.css";
@import "color-vars";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $background-color; }

.material-icons{
    font-family: 'Material Icons' !important;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.container {
  max-width: 100%;
  min-width: 50%;
  padding: .5rem;
  margin:0 auto;
}

@media (min-width: 768px) {
  .container {
      margin: 0 auto;
      max-width: 768px;
  }
}

.section {
  margin-bottom: 1rem;
}

.focus-scroll {
  scroll-margin-top: 2rem;
}

.full-height {
  height: 90%;
}

.row-grid {
  display: inline-grid;
  margin: .5rem auto;
  width: 100%;
}

.row-block {
  display: inline-block;
  width: 100%;
}

.row-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.button {
    margin: 0 auto;
}

.button-left {
  float: left;
  margin-right: .5rem;
}

.button-middle {
  margin-right: .5rem;
}

.button-right {
  float: right;
}

.field-right {
  float: right;
  margin-right: .5rem;
}

.custom-modalbox {
  max-width: 100vw !important;
  
  .mat-mdc-dialog-container .mdc-dialog__surface  {
    padding: 1rem;
  }
}

div.mat-expansion-panel-body {
  padding: 0;
}

.strike {
  background-color: $disabled-color; // Set in ngStyle in HTML in some files
  text-decoration: line-through;
}

/* Style the google place/address autocomplete dropdown container */
.pac-container {
  position: fixed !important;
  left: 50px !important;
  width: 300px !important;
  z-index: 99999999 !important;

  // https://developers.google.com/maps/documentation/javascript/place-autocomplete#style_autocomplete
  .pac-item {
    font-size: smaller;
    line-height: 2.5rem;
    vertical-align: middle;
  
    .pac-icon {
      vertical-align: middle;
    }

    .pac-item-matched {
      vertical-align: middle;
    }

    .pac-item-query {
      font-size: medium;
      vertical-align: middle;
    }
  }
}

.tip-none {
  color: $warn-color;
}

.tip-good {
  color: $primary-color;
}

.rainbow-text-animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 1s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}