<div class="section bg-surface text-gray-800 dark:text-gray-200 rounded-md">
  <form class="sheet-form mt-5" [formGroup]="sheetCreate" *ngIf="!saving">
      <app-base-input 
        class="field-full-width"
        label="Sheet Name"
        type="text"
        placeholder="Enter Name"
        formControlName="sheetName"
        [required]="true"
        hint="Give your new sheet a name">
      </app-base-input>
  </form>

  <div *ngIf="saving" class="creating-sheet-spinner">
      <mat-spinner diameter="40"></mat-spinner>
      <div class="creating-sheet-text">Creating sheet...</div>
  </div>

    <div *ngIf="!saving" class="row-flex px-5" style="justify-content: space-between;">
      <app-base-rect-button variant="secondary" [icon]="'refresh'" (clicked)="closeModal()" class="mr-auto">Cancel</app-base-rect-button>
      <app-base-rect-button variant="primary" [icon]="'add'" [disabled]="!sheetCreate.valid || saving" [loading]="saving" (clicked)="createSheet()" class="ml-auto">Create</app-base-rect-button>
    </div>
</div>
