mat-form-field {
  flex-shrink: 1;
  min-width: 0;
  max-width: 100%;
}

.required-indicator {
  color: var(--error-500);
  margin-left: 2px;
}

.has-error {
  ::ng-deep .mat-mdc-text-field-wrapper {
    border-color: var(--error-500);
  }
}
