<mat-card class="trips-container" *ngIf="trips && trips.length > 0">
    <div class="header-container">
        <h2>
            Trips ({{ trips.length }})
        </h2>
        <button mat-mini-fab color="primary" class="button-right mini-button" (click)="viewTrips(trips)">
            <mat-icon>view_agenda</mat-icon>
        </button>
    </div>
    <div class='table-responsive'>
        <mat-table [dataSource]="trips">
            <ng-container matColumnDef="place">
                <mat-header-cell *matHeaderCellDef> Place </mat-header-cell>
                <mat-cell *matCellDef="let trip"> {{trip.place | truncate:15}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="pickup">
                <mat-header-cell *matHeaderCellDef>Pickup</mat-header-cell>
                <mat-cell *matCellDef="let trip"> {{trip.pickupTime | noseconds}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dropoff">
                <mat-header-cell *matHeaderCellDef>Dropoff</mat-header-cell>
                <mat-cell *matCellDef="let trip"> {{trip.dropoffTime | noseconds}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                <mat-cell *matCellDef="let trip" [ngClass]="{'tip-none': (trip.tip + trip.cash) === 0, 'tip-good': (trip.tip + trip.cash) >= 5}"> {{trip.total | currency}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let trip"> {{trip.name | truncate:10}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                <mat-cell *matCellDef="let trip"> {{trip.endAddress | truncate:50}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="row.exclude && {'background-color': 'lightgrey'}" [ngClass]="row.exclude && 'strike'"></mat-row>
        </mat-table>
    </div>
</mat-card>