@import "color-vars";

h3 {
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Space between the header and button */
    align-items: center; /* Vertically align items */
}

.mini-button {
    transform: scale(0.8);
    margin-top: -15px;
}

.trips-container {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: .5rem;
    background-color: $background-color;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-bottom: .5rem;
}

mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
}

mat-row,
mat-header-row {
    display: table-row;
}

mat-row:nth-child(even){
    background-color: $primary-light-color;
}

mat-row:nth-child(odd){
    background-color: $tertiary-light-color;
}

mat-cell,
mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}   

mat-header-cell {
    font-weight: bold;
    color: $primary-color;
    background-color: $background-color;
}