<div class="shift-trips-quick-view">  <div class="quick-view-header">
    <h2 class="header-title">Trips</h2>
    <button mat-mini-fab class="close-button" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="trips-list">
    @for (trip of trips; track $index) {
      <div [id]="trip.rowId" [ngClass]="{'mat-card': trips.length % 2 != 0, 'mat-card-reverse': trips.length % 2 == 0, 'mat-card-disabled': trip.exclude == true || trip.action == actionEnum.Delete}">
        <trips-quick-view [trip]="trip" [index]="$index" [showActions]="false"></trips-quick-view>
      </div>
    }
  </div>
</div>